@font-face {
    font-family: "f1";
    src: url("2npzrkhntw3le9sc/Malison.ttf") format("truetype");
}
@font-face {
    font-family: "f2";
    src: url("rigter-font/rigter.otf") format("truetype");
}
@font-face {
    font-family: "f3";
    src: url("sparling-font/sparling-italic.otf") format("truetype");
}
@font-face {
    font-family: "f4";
    src: url("reglass-refractive-serif-font/reglass.otf") format("truetype");
}

body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0a0a0a;
    color: #a0a0a0;
}
.navi{
    display: flex;
    justify-content: space-between;
    gap:10%;
}
.logo img{
    width: 100%;
    max-width: 10vw;
}
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap : 1rem;
    margin:1rem;
    /* background-color: red; */
}
.navi{
    text-decoration: none;
}
.nav1 a:hover{
    color: #CAFF00;
}
.nav2 a:hover{
    color: #CAFF00;
}
.nav3 a:hover{
    color: #CAFF00;
}
.nav4 a:hover{
    color: #CAFF00;
}
